<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nombre del Proyecto</title>
  <link rel="shortcut icon" type="image/x-icon" href="assets/icon/logo-page.ico">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <section id="projects">
    <section class="jumbotron">
      <div class="container text-center">
        <h2 class="name">Nombre del Proyecto</h2>
        <img src="../assets/images/venus-02.jpg" alt="">   
      </div> 
    </section>
  
    <section class="container project-d">
      <div class="row">
        <div class="col-md-9">
          <h3>Descripción del proyecto</h3>
          <p>E-commerce dirigo a mujeres jóvenes que disfrutan de un estilo en tendencia así como de las prendas sencillas y cómodas. Proyecto colaborativo que aprovecha el uso de la técnica SPA para proveer una interfaz sencilla e intuitiva, permite al usuario saber siempre en que sección se encuentra gracias al uso del routing. Aprovecha el uso de las API's para ofrecer una extensa variedad de productos (Etsy) y un método de pago sencillo (PayPal).</p>
        </div>
        <div class="col-md-3 details-project">
          <div>
            <h4>Tipo de proyecto</h4>
            <p>Website</p>
          </div>
          <div>
            <h4>Que hice :)</h4>
            <p>Manejo del DOM</p>
          </div>
          <div>
            <h4>Tecnologías usadas</h4>
            <p>HTML, CSS3/SASS, Wordpress, PHP, JQuery, Illustrator</p>
          </div>
          <div>
            <h4>Ver el proyecto</h4>
            <p><a href=""><i class="fas fa-eye"></i></a></p>
            <h4>Ver código</h4>
            <p><a href=""><i class="fab fa-github-alt"></i></a></p>
          </div>
        </div>
      </div>
    </section>
  </section>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../js/app.js"></script>
</body>
</html>